In [4]:
#gerekli kütüphaneler import edildi
import pandas as pd
import warnings
from baglanti import get_json #http bağlantısı kurma

In [5]:
warnings.filterwarnings('ignore') #uyarıları gizleme

In [6]:
#Bağlantı kurmak için fonksiyon çağrıldı ve covid19 verisi json formatında alındı
covid19_json=get_json()

# Veriyi İnceleme

In [7]:
#sütun isimleri
print(covid19_json['response'][0].keys())

dict_keys(['continent', 'country', 'population', 'cases', 'deaths', 'tests', 'day', 'time'])

In [8]:
#vaka sayısı
covid19_json['response'][0]['cases']

{'new': None,
 'active': 2164,
 'critical': None,
 'recovered': 2,
 '1M_pop': '354211',
 'total': 2166}

In [9]:
#ölüm sayısı
covid19_json['response'][237]['deaths']

{'new': '+44', '1M_pop': '893.1', 'total': 6961817}

In [10]:
#test sayısı
covid19_json['response'][10]['tests']

#total: toplam test sayısı

{'1M_pop': '7908095', 'total': 78646}

In [11]:
#veri sayısı
len(covid19_json['response'])

238

In [12]:
#toplam vaka, ölüm ve test
for item in covid19_json['response']:
    print(item['cases']['total'])
    print(item['deaths']['total'])
    print(item['tests']['total'])
    print("\n")

2166
None
None


1930
None
8632


1403
8
17762


712
13
None


29
None
None


10
1
None


9
2
None


503302
5272
160000000


5393
1
20509


3550
8
20508


5507
6
78646


6607
48
126958


80
None
None


5085
24
None


3904
12
51382


3452
2
25400


2943
1
None


6265
9
71077


937
None
None


6743
80
29473


6711
40
615226


38008
116
150753


31472
37
222773


25375
386
347815


18491
225
None


17786
125
None


15690
189
305941


11971
21
164926


10189
103
23693


9931
312
254538


17229
183
365697


8090
295
139824


11682
38
30126


27334
1361
400466


18860
165
1029558


12626
372
155686


19693
238
182981


38084
844
257839


9109
161
None


9614
177
145231


7701
194
191341


12019
14
24976


11051
92
62056


23460
138
278529


28036
163
604310


7766
126
259958


16138
17
None


33162
743
804909


20550
113
534283


12324
63
112382


11945
2159
329592


34658
28
778000


26547
65
82430


9106
146
18901


25954
199
None


25292
126
196855


17181
67
78646


7392
64
107339


7174
2
19690


16888
13
535009


9674
124
114197


30209
410
210983


38572
468
660107


15440
113
81294


35892
723
431221


34501
860
132422


21561
94
112457


18765
147
410280


16038
74
229344


16942
31
187397


22107
400
248995


20422
123
7850


45986
295
496693


98041
420
651257


101717
228
1252808


42027
188
176919


206897
2991
1907195


69117
885
672883


82588
1408
242207


44224
292
177885


63993
5046
562941


57743
3165
146269


62697
21
2303734


186694
316
2213831


133518
1468
6021981


43025
1051
358675


54721
38
345742


64477
417
401622


39531
290
812881


191496
4390
913289


171983
3632
3012408


80064
314
98964


46864
670
249149


230354
1102
828928


203235
1021
938039


48015
165
249838


71373
688
576016


78700
649
None


63777
997
1009957


201833
4230
2610114


125242
1974
1751774


49051
307
1621909


89033
1971
1146543


106303
1937
1499795


99333
1468
846704


88380
835
1690934


75189
1427
1048704


233731
2250
1371127


209503
229
1996384


218906
758
1233207


171889
1462
2541625


110277
648
811915


120935
868
2160773


51220
172
None


73679
1299
733218


156573
3664
1183986


43223
846
None


172221
4103
1062663


68436
1426
531329


139003
3056
3091420


89168
2686
624784


230437
7973
1349481


334726
3602
1941032


552695
5856
3359014


516023
24613
3693367


253662
1637
1377915


514524
690
4065369


507274
6437
2483848


621008
5404
3078533


399449
4628
25000000


344130
5689
3967062


474590
11165
1660662


494595
921
1603660


501117
7574
5565340


272010
6881
230960


267173
3155
5708974


265975
5730
2525756


349304
4069
4112961


628673
12159
3216305


641422
19495
11540638


625771
3001
3772787


451353
8776
3242901


326275
225
717784


403477
16377
1884721


330413
2801
2026898


295741
2840
2764972


350051
9960
2226216


388257
1232
4587145


1746997
14122
17201885


994037
7118
13646641


4076463
102595
26795090


1411831
13848
11575012


670627
4384
3740928


1243838
10952
4795578


1049089
8666
7811039


1003450
12031
6047766


1581936
30664
30589153


3183756
8814
129333107


2465545
25375
19544451


1238883
9428
4659757


1153361
29423
5013383


841469
9646
45481735


660854
1364
9640118


1855289
17132
16920079


1067030
2349
200732262


729549
1574
10948549


1070121
36043
3082403


4524326
222161
39010194


1279927
18518
5660084


981106
6523
7885792


1041111
7664
6114822


1726402
9376
13083449


3506590
68673
28377007


1280858
20272
7593848


1011388
2284
4030048


1115175
8530
14394534


822337
20065
2657506


2046207
29477
15254399


1210892
22407
2710261


834259
10377
7721568


2223779
48896
11394556


4439992
14452
23833472


1278164
16298
13001033


666586
2570
8455743


2541198
5251
7768604


4134824
66813
36075482


4744158
43303
57600347


2827115
1933
24756666


2745098
26433
19500873


1872391
21175
7448789


1510606
11140
12108977


672685
16890
6486117


2608125
18057
13349192


1333863
38673
11527417


1385303
9852
10540357


1354769
7100
2847701


1506475
5732
11002430


2924877
14367
76127725


4772813
74
None


5557995
112418
32603805


13914811
121760
471036328


10241523
19005
30742304


11624114
43206
85826548


33803572
74694
100414883


6081287
22542
211273524


40138560
167642
271490188


34571873
35934
15804065


17232066
102174
162743369


10080046
130685
35716069


4841772
12707
41373364


6101379
37869
102228365


24812582
232112
522526476


6386157
143100
36951507


5180812
37246
68580916


8623210
22992
25984435


23713738
401214
273400000


26591441
194489
278771518


4761781
34514
17270775


45009660
533337
930797975


6819830
161954
114158919


7625292
146751
57320267


12857020
258874
None


7702731
334947
20013810


5330856
64497
50382097


4846040
34376
37018657


130033828
1664163
None


14704370
31961
None


110082490
1190137
1186546440


11742512
23808
81916639


4855902
56787
66525130


69452154
1364096
None


38758005
179937
122332384


38177375
708491
63776166


6629601
120210
39078757


5635112
27791
46139518


252464283
2090392
None


221097822
1552316
None


700610198
6961817
None

In [13]:
#aktif, kritik ve iyileşen covid 19 vaka sayısı
for item in covid19_json['response']:
    print(item['cases']['active'])
    print(item['cases']['critical'])
    print(item['cases']['recovered'])
    print("\n")

2164
None
2


0
None
1930


19
None
1376


0
None
699


0
None
29


0
None
9


0
None
7


118977
None
379053


45
None
5347


3104
None
438


None
None
None


0
None
6559


80
None
None


2358
3
2703


None
None
None


1001
None
2449


None
None
None


4
None
6252


18
None
919


2
None
6661


14
4
6657


None
None
None


22882
1
8553


983
None
24006


14041
None
4225


397
None
17264


74
None
15427


9189
4
2761


0
None
10086


729
1
8890


139
5
16907


12
2
7783


1168
None
10476


12791
None
13182


10
None
18685


65
None
12189


97
4
19358


874
1
36366


9
None
8939


508
6
8929


2633
None
4874


29
None
11976


54
None
10905


220
None
23102


26
None
27847


None
None
None


0
None
16121


87
None
32332


None
None
None


None
None
None


662
None
9124


None
None
None


None
None
None


6
None
8954


None
None
None


406
None
24760


None
None
None


None
None
None


22
None
7150


1237
None
15638


57
None
9493


0
None
29799


347
None
37757


127
2
15200


9189
None
25980


269
None
33372


None
None
None


503
1
18115


0
None
15964


15306
None
1605


111
None
21596


16812
None
3487


971
3
44720


86367
6
11254


168
None
101321


None
None
None


7500
131
196406


1006
None
67226


None
None
None


1494
2
42438


0
None
58947


0
None
54578


1112
None
61564


22691
25
163687


11
None
132039


696
None
41278


1114
None
53569


305
23
63755


25
None
39216


28
None
187078


67920
None
100431


None
None
None


26
None
46168


None
None
None


None
None
None


None
None
None


None
None
None


None
None
None


309
None
62471


18193
None
179410


5
None
123263


70
None
48674


38
None
87024


947
None
103419


13376
None
84489


48
None
87497


646
None
73116


2676
11
228805


None
None
None


None
None
None


2
None
170425


982
None
108647


478
None
119589


0
None
51048


367
None
72013


None
None
None


None
None
None


1019
None
167099


148
None
66862


19
None
135928


None
None
None


13185
None
209279


1696
None
329428


302
31
546537


49228
122
442182


10539
23
241486


147
16
513687


2
None
500835


159
None
615445


None
None
None


1132
None
337309


None
None
None


None
None
None


5372
None
488171


82068
None
183061


4065
11
259953


1357
12
258888


3919
None
341316


None
None
None


1768
None
620159


None
None
None


7415
None
435162


82449
3
243601


8016
None
379084


563
1
327049


1107
None
291794


3023
None
337068


None
None
None


1868
59
1731007


1327
None
985592


61362
192
3912506


14963
24
1383020


139
4
666104


145299
74
1087587


155
16
1040268


97
None
991322


12583
None
1538689


0
None
3174942


673
None
2439497


None
None
None


None
None
None


None
None
None


0
None
659490


None
None
None


None
None
None


60
None
727915


0
None
1034078


0
4
4302165


2977
None
1258432


3177
None
971406


2503
18
1030944


1376
19
1715650


0
36
3437917


621
5
1259965


0
None
1009104


64
None
1106581


None
None
None


None
None
None


11340
220
1177145


112
None
823770


22728
None
2152155


7455
None
4418085


None
None
None


None
None
None


6068
None
2529879


5760
None
4062251


16106
55
4684749


0
9
2825182


7718
None
2710947


2734
23
1848482


3277
None
1496189


1
None
655794


11696
None
2578372


5241
31
1289949


16135
None
1359316


1549
None
1346120


3230
None
1497513


787
None
2909723


0
None
4772739


0
None
5445577


30634
231
13762417


0
None
10222518


939937
None
10640971


None
None
None


3811
None
6054934


0
None
39970918


0
None
34535939


None
None
None


0
None
9949361


30592
None
4798473


None
None
None


0
None
24580470


36861
342
6206196


28375
4
5115191


3159
None
8597059


244238
None
23068286


234090
240
26162862


34631
None
4692636


None
None
None


10772
None
6647104


None
None
None


508319
542
12089827


467919
None
6899865


13909
7
5252450


13104
None
4798560


2801791
6940
125567874


152541
50
14519868


1034225
1785
107858128


None
22
None


32252
99
4766863


1506734
8953
66581324


337468
None
38240600


1219723
None
36249161


None
None
None


1769
61
5605552


2620837
4748
247753054


14282301
14731
205263205


21872523
35964
671775858

# DataFrame Oluşturma

In [14]:
#öncelikle boş bir liste oluşturuyoruz
data_list=[]
for response in covid19_json['response']:
    df={
        "Continent"   : response['continent'],
        "Country"     : response['country'],
        "Population"  : response['population'],
        "Total_Cases" : response['cases']['total'],
        "Total_Tests" : response['tests']['total'],
        "Total_Deaths": response['deaths']['total'],
        "Cases_Active": response['cases']['active'],
        "Cases_Critical":response['cases']['critical'],
        "Cases_Recovered": response['cases']['recovered']
        
    }
    #Liste üzerine sözlüğü ekleme
    data_list.append(df)    

 #DataFrame oluştur
covid19_df=pd.DataFrame(data_list)

# DataFrame'i inceleme

In [15]:
covid19_df.head()

,Continent,Country,Population,Total_Cases,Total_Tests,Total_Deaths,Cases_Active,Cases_Critical,Cases_Recovered
0,Africa,Saint-Helena,6115.0,2166,NaN,NaN,2164.0,NaN,2.0
1,South-America,Falkland-Islands,3539.0,1930,8632.0,NaN,0.0,NaN,1930.0
2,North-America,Montserrat,4965.0,1403,17762.0,8.0,19.0,NaN,1376.0
3,None,Diamond-Princess,NaN,712,NaN,13.0,0.0,NaN,699.0
4,Europe,Vatican-City,799.0,29,NaN,NaN,0.0,NaN,29.0

In [16]:
covid19_df.info() #veri bilgisi

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Continent        236 non-null    object
 1   Country          238 non-null    object
 2   Population       229 non-null    float64
 3   Total_Cases      238 non-null    int64
 4   Total_Tests      213 non-null    float64
 5   Total_Deaths     233 non-null    float64
 6   Cases_Active     190 non-null    float64
 7   Cases_Critical   59 non-null     float64
 8   Cases_Recovered  189 non-null    float64
dtypes: float64(6), int64(1), object(2)
memory usage: 16.9+ KB

In [17]:
covid19_df.shape #Satır, sütun sayısı

(238, 9)

In [18]:
#Sayı, ortalama, standart sapma, min ve max değerler, çeyrek gibi sayısal ifade bulunduran kolonlarda hesaplama işlemi
covid19_df.describe()

,Population,Total_Cases,Total_Tests,Total_Deaths,Cases_Active,Cases_Critical,Cases_Recovered
count,2.290000e+02,2.380000e+02,2.130000e+02,2.330000e+02,1.900000e+02,59.000000,1.890000e+02
mean,3.469404e+07,8.831218e+06,3.292769e+07,8.963706e+04,2.609570e+05,1287.491525,9.993031e+06
std,1.386374e+08,5.163154e+07,1.196646e+08,5.125599e+05,1.911661e+06,5198.368827,5.538466e+07
min,7.990000e+02,9.000000e+00,7.850000e+03,1.000000e+00,0.000000e+00,1.000000,2.000000e+00
25%,4.454310e+05,2.674375e+04,3.478150e+05,2.250000e+02,3.125000e+01,4.000000,2.159600e+04
50%,5.797805e+06,2.303955e+05,2.226216e+06,2.570000e+03,9.765000e+02,19.000000,2.288050e+05
75%,2.210284e+07,1.564104e+06,1.334919e+07,1.805700e+04,1.020150e+04,86.500000,1.848482e+06
max,1.448471e+09,7.006102e+08,1.186546e+09,6.961817e+06,2.187252e+07,35964.000000,6.717759e+08

In [19]:
#Null değerlerin sayısını görme
null_count=covid19_df.isnull().sum()
print(null_count)

Continent            2
Country              0
Population           9
Total_Cases          0
Total_Tests         25
Total_Deaths         5
Cases_Active        48
Cases_Critical     179
Cases_Recovered     49
dtype: int64

# COVID 19 veri seti için eksik değerlerin doldurulması:

In [20]:
def fill_missing_data(df):
    # Popülation sütununda eksik değerleri medyan ile doldurma
    df['Population'].fillna(df['Population'].median(), inplace=True)
    
    # Total_Tests, Total_Deaths, 
    # Cases_Active, Cases_Critical, Cases_Recovered 
    # sütununda eksik değerleri ortalama ile doldurma
    df['Total_Tests'].fillna(df['Total_Tests'].mean(), inplace=True)
    df['Total_Deaths'].fillna(df['Total_Deaths'].mean(), inplace=True)
    df['Cases_Active'].fillna(df['Cases_Active'].mean(), inplace=True)
    df['Cases_Critical'].fillna(df['Cases_Critical'].mean(), inplace=True)
    df['Cases_Recovered'].fillna(df['Cases_Recovered'].mean(), inplace=True)

In [21]:
fill_missing_data(covid19_df)

In [22]:
# yapılan eksik verileri doldurma/silme işlemi kontrol edildi
covid19_df.isnull().sum()

Continent          2
Country            0
Population         0
Total_Cases        0
Total_Tests        0
Total_Deaths       0
Cases_Active       0
Cases_Critical     0
Cases_Recovered    0
dtype: int64

In [23]:
#Continent sütün için 'None' ve 'NotAvailable' değerleri içeren satırları sil
covid19_df = covid19_df[(pd.notna(covid19_df['Continent'])) & (covid19_df['Continent'] != 'NotAvailable')]

In [24]:
# yapılan eksik verileri doldurma/silme işlemi kontrol edildi
covid19_df.isnull().sum()

Continent          0
Country            0
Population         0
Total_Cases        0
Total_Tests        0
Total_Deaths       0
Cases_Active       0
Cases_Critical     0
Cases_Recovered    0
dtype: int64

In [25]:
# Pandas ayarlarını geçici olarak değiştirerek bilimsel gösterimi ve ondalık sıfırları kapat
with pd.option_context('display.float_format', '{:.0f}'.format):
    print(covid19_df)

         Continent           Country  Population  Total_Cases  Total_Tests  \
0           Africa      Saint-Helena        6115         2166     32927688
1    South-America  Falkland-Islands        3539         1930         8632
2    North-America        Montserrat        4965         1403        17762
4           Europe      Vatican-City         799           29     32927688
5           Africa    Western-Sahara      626161           10     32927688
..             ...               ...         ...          ...          ...
233         Europe            Poland    37739785      6629601     39078757
234         Europe          Portugal    10140570      5635112     46139518
235         Europe            Europe     5797805    252464283     32927688
236           Asia              Asia     5797805    221097822     32927688
237            All               All     5797805    700610198     32927688

     Total_Deaths  Cases_Active  Cases_Critical  Cases_Recovered
0           89637          2164            1287                2
1           89637             0            1287             1930
2               8            19            1287             1376
4           89637             0            1287               29
5               1             0            1287                9
..            ...           ...             ...              ...
233        120210        260957            1287          9993031
234         27791          1769              61          5605552
235       2090392       2620837            4748        247753054
236       1552316      14282301           14731        205263205
237       6961817      21872523           35964        671775858

[236 rows x 9 columns]

In [26]:
def delete_row(covid19_df):
    #Bütün ülke ve kıtaların değerlerini alan ('All') satırları çıkarıldı
    covid19_df = covid19_df[ ( (covid19_df['Continent'] != 'All') & (covid19_df['Country'] != 'All') )]
    return covid19_df

In [27]:
covid19_data=delete_row(covid19_df)
covid19_data.head()

,Continent,Country,Population,Total_Cases,Total_Tests,Total_Deaths,Cases_Active,Cases_Critical,Cases_Recovered
0,Africa,Saint-Helena,6115.0,2166,3.292769e+07,89637.064378,2164.0,1287.491525,2.0
1,South-America,Falkland-Islands,3539.0,1930,8.632000e+03,89637.064378,0.0,1287.491525,1930.0
2,North-America,Montserrat,4965.0,1403,1.776200e+04,8.000000,19.0,1287.491525,1376.0
4,Europe,Vatican-City,799.0,29,3.292769e+07,89637.064378,0.0,1287.491525,29.0
5,Africa,Western-Sahara,626161.0,10,3.292769e+07,1.000000,0.0,1287.491525,9.0